{% extends 'base.html.twig' %}

{% block title %}Posts Found{% endblock %}

{% block body %}
    <h3>
        <a href="{{ path('post_add') }}">Add new post</a>
    </h3>

    <h4>Found {{ posts|length }} by "{{ searchString }}"</h4>

    {% for post in posts %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a href="{{ path('post_show', {slug: post.slug}) }}">{{ post.title }}</a><
                {{ post.body | slice(0, 255) ~ '...'  }}
            </p>
        </div>
    {% endfor %}
{% endblock %}
